<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.insurance.dao.ContractDAO">
   <!-- 계약 하기 -->
   <insert id="InsertContractInfo" parameterType="com.insurance.model.contract.Contract">
		insert into contract( customerID, insuranceID	) 
		values ( #{customerID}, #{insuranceID} )
   </insert>
 
 	<!-- 전체 계약 보기 -->
   <select id="CustomerContractList" parameterType="com.insurance.model.contract.ContractCount"
   		resultType="com.insurance.model.contract.ContractCount">
   		select customer.customerID, customer.customerName, customer.customerAge, customer.customerGender, contractCount.insuranceCount
		from customer, contractCount
		where customer.customerID = contractCount.customerID;
   </select>
 	
</mapper>